*
{
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
}

.container
	{
		/*background:	#6633CC;*/
		width:100vw;
		height:auto;
	}
	.header
	{
		background: #00ccff;
		height:300px;
		/*margin:15px 15px 0px 15px;*/
		position:relative;
		background-image:url(img/img3.png);
		background-repeat:no-repeat;
		background-size: cover;
	}
	.profilecontent
	{
		height:400px;
		width:800px;
		background:#ccf5ff;
		position:absolute;
		border-radius:5px;
		margin:0px 0px 0px 100px;
	}
	.profile-photo
	{
		width:200px;
		height:200px;
		border:#000000;
		background:#00CC99;
		margin:1px 0px 0px 1px;
		float:left;
	}
	.profilsidetext
	{
		width:598px;
		height:200px;
		background:#002933;
		float:left;
		margin:1px 0px 0px 0px;
		color:white;
	}
	.profiledetails{ float:left;}
	.profilname
	{
		font-size:25px;
		font-weight:bold;
		margin:10px 0px 0px 20px;
	}
	.profilemail{
		font-size:20px;
		font-weight:bold;
		margin:15px 0px 0px 20px;
	}

	label a
	{
		color: white;
	}


	.lblheadertext
	{
		color:white;
		padding-top:25px;
		text-align:center;
		font-size:50px;
	}
	.rightprofiledetails
	{
		float:left;
		margin-left:130px;
		font-size:20px;
	}
	.profilebtn
	{
		width:75px;
		height:100px;
		background:#666666;
		border:dashed;
		float:left;
		margin:140px 63px 5px 5px;
		border-radius:10%;
	}
	.secondcontainer
	{
		width:100vw;
		background:#99FFCC;
		float:left;
		position: absolute;
		height: 266px;
	}
	.skilloveriview


	{
		margin-top: 125px;
		height: 200px;
		margin-left: 37px;
		position: absolute;
	}

	.myskills
	{
		margin-left: 100px;
	}
	.skill
	{ 
		width: 140px;
	    height: 51px;
	    float: left;
	    /* border: dotted; */
	    margin-left: 35px;
	    border-radius: 15px;
	    margin-top: 15px;
	    border: 2px solid red;
	    text-align: center;
	    font-family: verdana;
	}
	.bswork
	{
		position: relative;
		margin-top: 10px;
	    
	}
	.overview
	{ 
		text-align: center;
		font-size:24px;
		font-weight:bold;
		margin-left: 290px;
	}
		
	.profilgmail
	{ 
	  font-size: 20px;
	  font-weight: bold;
	  margin: 15px 0px 0px 20px;
	}
	.profilgmail i{ font-size:16px;}
	.profilname i {font-size:20px;}
	.profilebtn i{ font-size:90px; margin:5px;}
	.profilebtn i label{ font-size:20px; font-weight:bold; color:#fff;}

	hr
	{
		width: 670px;
		margin-left: 24px;
           
	}
	#htmcsswork
	{
		width: 100%;
		height: auto;
		padding-bottom:15px;
		border: 1px solid red;
		float: left;
		background: lightgreen;
		display: none;
		margin: 5px 0px 5px ;

	}
	.htmllinks
	{
		width:800px;
		height:auto;
		float:left;
		color:#fff;
		margin-left:200px;
		margin-top:10px;
	}
	.htmllinks ul li
	{
		margin-top:10px;
	}
	.htmllinks ul li a
	{
		font-size:18px;
		
	}
	#work2
	{
		width: 100%;
		height: auto;
		padding-bottom:15px;
		border: 1px solid red;
		float: left;
		background: dodgerblue;
		margin: 5px 0px 5px ;
		display: none;
		background-image: url('img/jq.png');
		background-size: 100% auto;

	}
	#work3
	{
		width: 100%;
		height: auto;
		padding-bottom:15px;
		border: 1px solid red;
		float: left;
		background: dodgerblue;
		margin: 5px 0px 5px ;
		display: none;			
	}
	#work4
	{
		width: 100%;
		height: auto;
		padding-bottom:15px;
		border: 1px solid red;
		float: left;
		background: blue;
		margin: 5px 0px 5px ;
		display: none;
		background-image: url('mg/bootstrap.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;			
	}
	h1
	{ 
		text-align: center; 
		color: #fff;
	}